# Airbrake config
AIRBRAKE_HOST=https://my-errbit-instance.com
AIRBRAKE_KEY=longvaluefullofnumbersandlettersinlowercase
ENVIRONMENT=dev

# Database config
POSTGRES_USER=myuser
POSTGRES_PASSWORD=password12345
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=wabs
POSTGRES_DB_TEST=wabs_system_test
DEFAULT_USER_PASSWORD=P@55word

# Server config
EXTERNAL_DOMAIN=http://localhost:3001
http_proxy=http://myproxy:8080
INTERNAL_DOMAIN=http://localhost:3002
PORT=3002

# Log config
LOG_ASSET_REQUESTS=false
LOG_IN_TEST=false

# Session setup
# Cookie secret for authenticating requests coming via the UI. Note that the value should be the same as `COOKIE_SECRET`
# on the legacy UI side
COOKIE_SECRET=longvaluefullofnumbersandlettersinlowercase
SESSION_NAME=back-office

NODE_ENV=development
