{% extends 'layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageContent %}
  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    attributes: {
      'data-test': 'meta-data'
    },
    rows: [
      {
        key: { text: 'Start date', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-start-date">' + startDate + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Issue date', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-issue-date">' + issueDate + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Water undertaker', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-water-undertaker">' + waterUndertaker + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Regional charge area', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-regional-charge-area">' + regions.regionalChargeArea + '</span>', classes: "meta-data__value" }
      }
    ]
  }) }}

{% endblock %}
